<div class="form-check">
    <input class="form-check-input" [value]="1" type="checkbox" 
    data-bs-toggle="collapse" [attr.data-bs-target]="'#features' + product.id" [attr.aria-expanded]="false" [(ngModel)]="state" (change)="sendToCart($event)" [id]="product.name">
    <label class="form-check-label" [attr.for]="product.name">
        {{product.text}} ({{product.price}}€)
    </label>
</div>
<div *ngIf="product.features.length > 0" class="collapse" [id]="'features' + product.id">
    <div class="p-3 pb-2 mb-4 mt-2 card"> 
        <div class="mb-3" *ngFor="let feature of product.features">
            <label for="exampleInputEmail1" class="form-label"> {{feature.text}} ({{feature.price}}€)</label>
            <!--no encuentro la manera de poner una condición en [value] que no sea un ternario-->
            <input type="number" [value]=" state ? '0' : 0 " class="form-control" min="0" [defaultValue]="0" (keyup)="sendToCart($event, feature.id)" placeholder="0 ">
        </div>
    </div>
</div>