<div [formGroup]="mainForm" *ngIf="product.features.length > 0" class="collapse" [id]="'features' + product.id">
    <div class="p-4 pb-2 mt-2 mb-3 card"> 
        <div class="d-flex flex-column" *ngFor="let feature of product.features, let i = index">
            <div class="d-flex flex-column flex-sm-row justify-content-start align-items-center gap-3">
                <div>
                    <label [for]="'feature' + feature.id" class="form-label d-flex align-items-center"> {{feature.text}} ({{feature.price}}€)</label>
                </div>
                <div class="d-flex gap-3 align-items-center">
                    <button type="button" class="btn btn btn-warning" (click)="up(feature.id); total()"> + </button>

                    <input type="number" [id]="'feature' + feature.id" [formControlName]="'feature' + i" class="form-control" min="0" [defaultValue]="0" (input)="sendToCart($event, feature.name, feature.id); total()" placeholder="0 ">

                    <button type="button" class="btn btn btn-warning" (click)="down(feature.id); total()"> - </button>

                    <div class="btn-info" data-bs-toggle="modal" data-bs-target="#infoModal" (click)="modal.changeTitle(feature.text); modal.changeContent(feature.info) ">i</div>
                </div>
            </div>
            <div class="mb-3">
                <span class="form-text text-danger"
                *ngIf="mainForm.controls['feature' + feature.id].errors && mainForm.controls['feature' + feature.id].touched" >
                    {{feature.text}} debe ser 1 o más 
                </span>
            </div>
        </div>
    </div>
</div>
<app-modal #modal> </app-modal>