<div  [formGroup]="panelForm" *ngIf="product.features.length > 0" class="collapse" [id]="'features' + product.id">
    <div class="p-4 pb-2 mt-2 mb-3 card"> 
        <div class="d-flex flex-column" *ngFor="let feature of product.features, let i = index">
            <div class="d-flex justify-content-start gap-3">
                <label [for]="'feature' + feature.id" class="form-label d-flex align-items-center"> {{feature.text}} ({{feature.price}}€)</label>

                <button class="btn btn btn-warning" (click)="up(feature.id); total()"> + </button>

                <input type="number" [id]="'feature' + feature.id" [formControlName]="'feature' + i" class="form-control" min="0" [defaultValue]="0" (keyup)="sendToCart($event, feature.id); total()" (change)="sendToCart($event, feature.id); total()" placeholder="0 ">

                <button class="btn btn btn-warning" (click)="down(feature.id); total()"> - </button>

            </div>
            <div class="mb-3">
                <span class="form-text text-danger"
                *ngIf="panelForm.controls['feature' + feature.id].errors && panelForm.controls['feature' + feature.id].touched" >
                    {{feature.text}} debe ser 1 o más 
                </span>
            </div>
        </div>
    </div>
</div>